__pycache__/level1_main.cpython-39.pyc
Pong/__pycache__/__init__.cpython-38.pyc
Pong/__pycache__/__init__.cpython-39.pyc
Pong/__pycache__/ball.cpython-39.pyc
Pong/__pycache__/doublePadPong.cpython-39.pyc
Pong/__pycache__/fourPadPong.cpython-39.pyc
Pong/__pycache__/paddle.cpython-38.pyc
Pong/__pycache__/paddle.cpython-39.pyc
Pong/__pycache__/Q.cpython-39.pyc
Pong/__pycache__/singlePadPong.cpython-38.pyc
Pong/__pycache__/singlePadPong.cpython-39.pyc
Projeto.code-workspace
