__pycache__/level1_main.cpython-39.pyc
Pong/__pycache__/__init__.cpython-38.pyc
Pong/__pycache__/__init__.cpython-39.pyc
Pong/__pycache__/ball.cpython-39.pyc
Pong/__pycache__/doublePadPong.cpython-39.pyc
Pong/__pycache__/fourPadPong.cpython-39.pyc
Pong/__pycache__/paddle.cpython-38.pyc
Pong/__pycache__/paddle.cpython-39.pyc
Pong/__pycache__/Q.cpython-39.pyc
Pong/__pycache__/singlePadPong.cpython-38.pyc
Pong/__pycache__/singlePadPong.cpython-39.pyc
Projeto.code-workspace
Docs/Books/Algorithms for Reinforcement Learning by Csaba Szepesvári .pdf
Docs/Books/Neuro-Dynamic Programming (Dimitri P. Bertsekas, John N. Tsitsiklis).pdf
Docs/Books/Reinforcement Learning An Introduction, 2nd Edition by Richard S. Sutton, Andrew G Barto .pdf
level1_results/
level2_results/
level3_results/
Pong/__pycache__/PlotTool.cpython-39.pyc
vids/level1_trained.avi
vids/level1_10initial.avi
vids/level1_10_train.avi
vids/70x70.avi
vids/40x40good.avi
vids/40x40.avi
vids/10x10.avi
Pong/__pycache__/Q.cpython-38.pyc
Pong/__pycache__/PlotTool.cpython-38.pyc
Pong/__pycache__/fourPadPong.cpython-38.pyc
Pong/__pycache__/doublePadPong.cpython-38.pyc
Pong/__pycache__/ball.cpython-38.pyc
__pycache__/pygame_recorder.cpython-38.pyc
output.avi
pygame_recorder.py
